<h2>Manual Instances</h2>

<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

    <label>
        First Name:
        <input type="text" formControlName="firstName">
    </label>

    <label>
        Last Name:
        <input type="text" fromControlName="lastName">
    </label>

    <div formGroupName="address">
        <h3>Address</h3>

        <label>
            Street:
            <input type="text" formControlName="street">
        </label>

        <label>
            City: 
            <input type="text" formControlName="city">
        </label>

        <label>
            State:
            <input type="text" formControlName="state">
        </label>

        <label>
            Zip Code:
            <input type="text" formControlName="zip">
        </label>

        
    </div>

    <button type="submit" [disabled] = "!profileForm.valid">Submit</button>

</form>

<p>
    <button (click)="updateProfile()">Update Profile</button>
</p>

<h2>FormBuilder</h2>

<form [formGroup]="profileForm1">

    <label>
        Username:
        <input type="text" formControlName="username" required>
    </label>

    <label>
        Phone:
        <input type="text" formControlName="phone">
    </label>

    <label>
        Email:
        <input type="text" formControlName="email">
    </label>

    <button type="submit" [disabled] = "!profileForm.valid">Submit</button>

</form>


