<app-header [title2]="title" [subtitle2]="subtitle" [isAuth]="isAuth" (arrived)="hasArrived($event)"></app-header>
<!-- connects to variables declared in header.component.ts -->

<h1>{{ title }}</h1>
<h2>{{ subtitle }}</h2> <!-- interpolation -->

<p>{{ arrived }}</p>

<img [src]="imgSource" [alt]="altText">
<!-- one directional property binding -->

<p>Simple Pipe: {{ money | currency }} </p>
<!-- simple pipe -- value declared in home.component.ts -->


<!-- body -->
<div *ngFor="let donut of donuts">
    {{ donut }}
</div>
<!-- structureal directive -- *ngFor loops over an array of data -->


<div *ngFor="let cupcake of cupcakes">
    <p>Cupcake: {{ cupcake.type }}</p>
    <p>Price: {{ cupcake.price | currency }}</p>
</div>
<!-- array of objects with pipe for price -->

<!-- body end -->